* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    overflow-x: hidden;
}

.item {
    width: 400px;
}

header {
    width: 400px;
    height: 100px;
    padding: 40px 25px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    line-height: 20px;
    font-size: 20px;
}

.item img {
    padding: 0;
    margin: 0;
    width: 400px;
    height: 320px;
    /* cover the entire page */
    object-fit: cover;
    object-position: center;
}

main {
    width: 400px;
}

#first {
    width: 100%;
    padding: 100px 25px;
    font-size: 40px;
}

.caption p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    /* give padding top and left */
    padding: 30px 0 0 30px;
}